<div ng-repeat="article in articles">
    <h1>{{ article.title }}</h1>

    <p>{{ article.content }}</p>

    <div ng-if="article.comments.length == 1">
        <h2>{{ article.comments.length }} commentaire</h2>

        <a ui-sref="comments({ id: article.id })">Voir le commentaire</a>
    </div>
    <div ng-if="article.comments.length > 1">
        <h2>{{ article.comments.length }} commentaires</h2>

        <a ui-sref="comments({ id: article.id })">Voir les commentaires</a>
    </div>

    <hr>
</div>